<table>
  <tbody>
    <tr>
      <th><%= l('settings.use_contains') %></th>
      <td><%= check_box_tag 'settings[use_contains]', true, !!settings['use_contains'] %></td>
    </tr>
  </tbody>
</table>